<% title "Horde Love Flag"%>
<%= content_for :head do %>
<%= javascript_include_tag 'jquery.periodicalupdater' %>
<style type="text/css" media="screen">
	.highlighted {
		background: #D9EFFA;
	}
</style>
<script type="text/javascript" charset="utf-8">
	$(function() {
		$('.member_row').hover( function() {
			$(this).addClass('highlighted')
		}, function() {
			$(this).removeClass('highlighted')
		})
		
		$('.show_link').click(function() {
			$('#explanation').slideDown()
		})
		
		$('.attended').change(function() {
			var count = $('.attended:checked').length;
			$('#attended_count').html(count)
		})
		
		$('.on_time').change(function () {
			var count = $('.on_time:checked').length
			$('#on_time_count').html(count)
		})
		
		$('.left_early').change(function() {
			var count = $('.left_early:checked').length
			$('#left_early_count').html(count)
		})
		
		$('.bid').change(function() {
			var count = $('.bid:checked').length
			$('#bid_count').html(count)
		})
		
		$('.standby').change(function() {
			var count = $('.standby:checked').length
			$('#standby_count').html(count)
		})
		
		$.PeriodicalUpdater('<%= summary_raid_events_path %>', {
			minTimeout: 5000,
			type: 'script'
		})
	})
<% unless admin? %>
$(function() {
	$('input').attr('disabled', 'disabled');
})
<% end %> 
</script>
<% end %>
<%= form_tag raid_events_path %>
<table method="get">
	<tr>
		<th>Name</th>
		<th>Attended</th>
		<th>On Time</th>
		<th>Left Early</th>
		<th>Standby</th>
		<th>Bid</th>
		<th>Cataclysm Funbucks</th>
	</tr>
	<% @guild_members.each do |member|%>
	<tr class="member_row">
		<td><span class="member_name"><%= link_to member.name, guild_member_path(member) %></span></td>
		<td><input type="checkbox" value="<%=member.name%>" name="attended[]" class="attended"/></td>
		<td><input type="checkbox" value="<%=member.name%>" name="on_time[]" class="on_time"/></td>
		<td><input type="checkbox" value="<%=member.name%>" name="left_early[]" class="left_early"/></td>
		<td><input type="checkbox" value="<%=member.name%>" name="standby[]" class="standby"/></td>
		<td>
			<input type="radio" value="lfc" name="bids[<%=member.name%>]" class="bid">LFC
			<input type="radio" value="half" name="bids[<%=member.name%>]" class="bid">Half
		</td>
		<td>
			<span class="member_points">
				<%= member_points(member)%>
			</span>
		</td>
	</tr>
	<% end %>
	<% if logged_in? %>
	<tr>
		<td>&nbsp;</td>
		<td><span id="attended_count">0</span></td>
		<td><span id="on_time_count">0</span></td>
		<td><span id="left_early_count">0</span></td>
		<td><span id="standby_count">0</span></td>
		<td><span id="bid_count">0</span></td>
		<td>&nbsp;</td>
	</tr>
	<% end %>
</table>
<h3>Last 5 Point Adjustments</h3>
<div id="raid_event_summary">
	<%= render :partial => 'raid_events/point_adjustment_summary', :object => @point_adjustments%>
</div>
<% if admin? %>
<div>
<%= submit_tag "Update", :style => "float:right"%>
</div>
<% end %>
</form>
<% if admin? %>
<div style="clear:both"></div>
<fieldset>
	<legend>New Member</legend>
	<%= form_for GuildMember.new do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= submit_tag "Add"%>
	</div>
	<% end %>
</fieldset>

<fieldset>
	<legend>Inactive Members</legend>
	<% @inactive_members.each do |member| %>
		<%= link_to member.name, guild_member_path(member) %>&nbsp;
	<% end %>
</fieldset>


<% end %>

<a href="#" class="show_link">How does this work?</a>
<div id="explanation" style="display:none">
<p>
All members start with 40 points on their first raid.
</p>
<p>
Attending a raid for it's full duration awards members with 10 points after the raid. If anyone must leave before the scheduled end time, they will only be awarded 5 points. 2 bonus points will be award at the start of the raid for members who are online and ready to go at the raid start time. If any member is going to be up to 15 minute late, they may contact any of the guild officers prior to the raid start and still be eligible for the bonus. Personal contact information can be requested from the guild officers. 15 minutes after the start time, if any members are still not online their spot in the raid becomes forfeit.
</p>
<p>
Items are awarded to members who bid the most points. There are two types of bids:
</p>
<ol>
<li>
A member may bid half their points on an item. A member is only eligible to bid if they have greater than 20 points. If a member bids half their points, but is uncontested, they will only be deducted the Lower Fixed Cost (otherwise known as the LFC).
</li>
<li>
If members do not wish to bid half their points, or are ineligible, but still wish to obtain the item, they may bid the Lower Fixed Cost. The LFC is 10 points. Members are able to go into negative point values using the LFC.
</li>
</ol>
<p>
The item is always awarded to whoever bid the most points, in the event of a tie, the winner is determined randomly.
</p>
<p>
When an item drops, all loot items will be posted. After a moment, one item will be posted and the loot master will ask for your bids. Members will then reply “LFC” or “Bid”.
</p>
<p>
Replying “LFC” means you are only willing to pay the LFC cost for the item, even if you are eligible to bid. If someone bids half their points against you, you will automatically lose the item. If no one bids, but there are multiple LFC bids, then the winner will be chosen randomly and be deducted 10 points. If you are uncontested, you will win the item and be deducted 10 points.
</p>
<p>
Replying “Bid” means you are willing to bid half your points for the item, the bidder with the highest points will win the item and be deducted half their points. In the event of multiple bidders with the same points, the winner will be chosen at random, and be deducted half their points. If you are uncontested, you will only be deducted the LFC of 10 points.
</p>
<p>
For the time being, if neither an offer of LFC nor Bid is presented for an item, it will be sharded.  This policy may change in future as maelstrom crystals lose value.
</p>
<p>
If we are forced to recruit a PUG for our raids, any member who wishes an item that the PUG also  wants will be forced into a LFC roll. Otherwise, the loot system will work as normal. 
</p>
</div>
