<% title "Point Adjustment History for #{@guild_member.name}"%>

<% if admin? %>
<%= form_for PointAdjustment.new(:guild_member => @guild_member) do |f| %>
<fieldset>
	<legend>Manual Adjustment</legend>
<div>
	<%= f.label :amount%>
	<%= f.text_field :amount %>
</div>
<div>
	<%= f.label :reason %>
	<%= f.text_field :reason %>
</div>
<div>
	<%= submit_tag "Adjust"%>
</div>
</fieldset>
<%= f.hidden_field :guild_member_id%>
<% end %>

<%= form_for @guild_member do |f| %>
<fieldset>
	<legend>Member Configuration</legend>
	<div>
		<%= f.label :active %>
		<%= f.check_box :active %>
	</div>
	<div>
	  <%= f.label :is_admin, 'Admin?' %>
	  <%= f.check_box :is_admin %>
	<div>
		<%= f.submit "Update" %>
	</div>
</fieldset>
<% end %>
<% end %>

<h3>Point Adjustments (Most Recent First)</h3>
<table>
<tr>
	<th>Reason</th>
	<th>Amount</th>
	<th>Date</th>
	<th>Rolls</th>
</tr>
<% @point_adjustments.order('id desc').each do |adj| %>
<tr>
	<td><%= adj.reason %></td>
	<td><%= points(adj) %></td>
	<td><%= adj.created_at %></td>
	<td><%= adj.comments%></td>
</tr>
<% end %>
</table>